
Backend/target/
!Backend/.mvn/wrapper/maven-wrapper.jar
!Backend/**/src/main/**/target/
!Backend/**/src/test/**/target/

### STS ###
.Backend/apt_generated
.Backend/classpath
.Backend/factorypath
.Backend/project
.Backend/settings
.Backend/springBeans
.Backend/sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
Backend/build/
!Backend/**/src/main/**/build/
!Backend/**/src/test/**/build/

### VS Code ###
.Backend/pom.xml
.Frontend/package.json
.Frontend/package-lock.json
.Frontend/yarn.lock
.Frontend/yarn-error.log
gitignore.txt